<po-page-default p-title="Visor de Notas">
  Esse é o meu visor de notas

  <div class="po-row">
    <po-widget
      *ngFor="let note of notes"
      class="po-sm-12 po-lg-3 po-mb-2"
      p-title="Note"
      [p-height]="200"
      [p-no-shadow]="false"
    >
      <po-tag
        *ngIf="note.relevant"
        p-value="Relevante"
        p-color="color-07"
        [p-inverse]="true"
      ></po-tag>
      <po-info [p-label]="note.title" [p-value]="note.about"> </po-info>
    </po-widget>
  </div>
</po-page-default>
